.App {
  display: flex;
}

.helf {
  margin-right: 5%;
}

.team, .time {
  margin-top: 20px;
  padding: 5px;
  border: 1px dashed;
}

.team, .time, input, button {
  font-size: 20px;
  margin-left: 20px;
}